@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@media screen and (max-width: 1100px), screen and (max-height: 500px) {
  .home-info {
    display: none !important;
  }
  .home-info:after {
    content: 'Screen is too small for pandemic';
  }

  .home-sizeWarning {
    display: block !important;
  }
}

.home-background {
  background-color: #6f99d9;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.home-sizeWarning {
  display: none;
  text-align: center;
  color: white;
  font-size: 50px;
}

.home-info {
  color: white;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  height: 75%;
  vertical-align: middle;
}

.home-title {
  top: 0%;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.home-title h2 {
  font-size: 50px;
}

h2 {
  font-family: 'Lato', sans-serif;
}

.title p {
  font-size: 25px;
}

.home-options {
  background-color: #e7e7e7 !important;
  color: black;
  border-radius: 15px;
  height: 50%;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.home-homeoptions {
  background-color: #e7e7e7 !important;
  color: black;
  border-radius: 15px;
  top: 10%;
  height: 50%;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.home-players {
  background-color: #e7e7e7 !important;
  color: black;
  width: 40%;
  border-radius: 15px;
  position: absolute;
  right: 0 !important;
  overflow: auto;
  font-family: 'Lato', sans-serif;
}

.home-buttons {
  border-radius: 5px;
  width: 75%;
  font-family: 'Lato', sans-serif;
  font-size: 25px !important;
  padding: 3px;
}

#home-joinButtton {
  width: 25%;
  font-size: 20px !important;
  margin-bottom: 2%;
}

.home-epidemics {
  border-radius: 5px;
  width: 75%;
  font-family: 'Lato', sans-serif;
}

.home-difficulty {
  display: flex;
  flex-direction: column;
}

.home-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  color: red;
}
.home-space {
  position: relative;
  height: 40px;
}

.home-smallSpace {
  position: relative;
  height: 20px;
}

.home-display {
  margin-top: 5%;
  position: relative;
  overflow: hidden;
  margin-bottom: 5%;
  min-height: 300px;
}

input {
  font-size: 25px !important;
  font-family: 'Lato', sans-serif;
  border-radius: 5px;
}

#home-table {
  width: 45% !important;
  float: left;
  left: 0;
  height: 100% !important;
}

#home-playerList {
  width: 50% !important;
  float: right;
  right: 0;
  overflow: auto;
}

#home-copyButton {
  width: 20%;
  margin-bottom: 1%;
  font-size: 18px !important;
}

#home-split {
  width: 80%;
}

mark {
  background-color: pink;
}

#home-linkText {
  width: 72%;
  height: 100% !important;
  max-width: 700px;
}

.home-fillerDiv {
  clear: both;
}

.home-constrained {
  width: 95%;
}

.home-readyLeaveButtons {
  width: 40%;
  font-size: 20px !important;
}
.home-divider {
  width: 5%;
  height: auto;
  display: inline-block;
}

#home-actualList {
  list-style-type: none;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

#home-startGame {
  width: 50%;
  margin: auto;
  margin-bottom: 5%;
}

#home-infoContainer {
  height: 100% !important;
}

.home-highlighted {
  background-color: #67d733 !important;
}

.home-invalid {
  color: red;
  padding-bottom: 15px;
  font-weight: bold;
}
.home-spacingAbove {
  padding-top: 15px;
}

.home-spacingBelow {
  padding-bottom: 15px;
}

.home-eliminateSpace {
  width: 45%;
  position: absolute;
  top: -20px !important;
  left: 0px;
}

.home-listTitle {
  font-weight: bold;
  padding-bottom: 15px;
}
